<section class="sec-buttons padding-section">
  <div class="container">
    <div class="sec-buttons__wrapper">
      <h2 class="sec-buttons__title">Кнопки</h2>
      <div>
        <button class="button">button</button>
        <button class="button button--primary">button button primary</button>
        <button class="button button--secondary">button secondary</button>
        <button class="button button--outline">button outline</button>
        <button class="button button--ghost">button ghost</button>
      </div>
    </div>
  </div>
</section>
