<section class="navigation">
  <div class="container">
    <div class="navigation__wrapper">
      <ul class="navigation__list">
        <li><a href="#section1">section 1</a></li>
        <li><a href="#section2">section 2</a></li>
        <li><a href="#section3">section 3</a></li>
        <li><a href="#section4">section 4</a></li>
        <li><a href="#section5">section 5</a></li>
        <li><a href="#section6">section 6</a></li>
        <li><a href="#section7">section 7</a></li>
        <li><a href="#section8">section 8</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="section" id="section1">
  <div class="container">
    <div class="section__wrapper">
      <div class="section1">
        <img
          src="assets/images/placeholder.svg"
          alt=""
          class="section1__img-not-iinner"
        />
        <div class="section1__img-inner">
          <img src="assets/images/placeholder.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="section2">
  <div class="container">
    <div class="section__wrapper">
      <div class="section2">
        <img
          src="assets/images/placeholder.svg"
          alt=""
          class="section2__img-not-iinner"
        />
        <div class="section2__img-inner">
          <img src="assets/images/placeholder.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="section3">
  <div class="container">
    <div class="section__wrapper">3</div>
  </div>
</section>
<section class="section" id="section4">
  <div class="container">
    <div class="section__wrapper">4</div>
  </div>
</section>
<section class="section" id="section5">
  <div class="container">
    <div class="section__wrapper">5</div>
  </div>
</section>
<section class="section" id="section6">
  <div class="container">
    <div class="section__wrapper">6</div>
  </div>
</section>
<section class="section" id="section7">
  <div class="container">
    <div class="section__wrapper">7</div>
  </div>
</section>
<section class="section" id="section8">
  <div class="container">
    <div class="section__wrapper">8</div>
  </div>
</section>
