@use "../base/variables" as *;

// header
.header {
  background-color: rgba(113, 113, 113, 0.445);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  ul {
    display: flex;
    gap: 20px;
  }
}
