/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

main {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.footer {
  background-color: rgba(113, 113, 113, 0.445);
}

.header {
  background-color: rgba(113, 113, 113, 0.445);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header ul {
  display: flex;
  gap: 20px;
}

.navigation__list li:hover {
  color: red;
}

.section {
  background-color: #ffc4c4;
  border: 1px solid #000;
  overflow-x: hidden;
}
.section__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  width: 100%;
  height: 100vh;
}

.section1 {
  display: flex;
  width: 100%;
}
.section2 {
  position: relative;
  width: 100%;
  height: 100%;
}
.section2__img-not-iinner {
  position: absolute;
  top: 0;
  left: -300px;
  z-index: 1;
}
.section2__img-inner {
  position: absolute;
  top: 0;
  right: -300px;
  z-index: 1;
}